# IDEs & Editors
.idea/
*.iml
.vscode/
*.swp
*.swo

# Gradle & Android Build Artifacts
.gradle/
build/
*/build/
captures/
.externalNativeBuild/
.cxx/
local.properties
*/local.properties

# Maven & Java / Spring Boot Artifacts
target/
*/target/
*.class
*.jar
*.war

# Environment & Secrets
.env
*.env.local

# OS Specific
.DS_Store
Thumbs.db
